@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Roboto:wght@300;700&display=swap");
:root {
  --tt-heading: uppercase;
  --fs-h1: 1.8rem;
  --fs-h2: 1.3rem;
  --fs-h3: 1.1rem;
  --fs-h4: 1.1rem;
  --fs-p: 1rem;
  --lh-p: 1.2rem;
}
@media (min-width: 768px) {
  :root {
    --fs-h1: 1.8rem;
    --fs-h2: 1.3rem;
    --fs-h3: 1.1rem;
    --fs-h4: 1.1rem;
    --fs-p: 1rem;
    --lh-p: 1.3rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-h1: 1.8rem;
    --fs-h2: 1.3rem;
    --fs-h3: 1.1rem;
    --fs-h4: 1.1rem;
    --fs-p: 1rem;
    --lh-p: 1.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  cursor: pointer;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

p {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-container .card-img {
  width: 350px;
}
.card-container .card-info {
  width: 350px;
}
.card-container .card-info h3 {
  background-color: #ff6600;
  color: #FFFFFF;
  font-size: var(--fs-h3);
  text-align: center;
}
.card-container .card-info .card-description {
  width: calc(350px - 5%);
  margin: 0 auto;
  margin-top: 1.3rem;
}
.card-container .card-info .card-description h4 {
  font-size: var(--fs-h4);
  font-weight: bold;
}
.card-container .card-info .card-description p {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}

/* Prueba comentario */
header {
  margin-bottom: 40px;
}
header nav {
  background-color: #EEEEEE;
}
header nav .logo {
  margin-left: 10%;
}
header nav .nav-button {
  margin-right: 10%;
}
header nav .nav-button span {
  font-style: 1rem;
}
header nav .barra-superior-nav {
  background-color: #2e80d3;
  color: #FFFFFF;
  text-align: center;
  border-top: 6px solid #ff6600;
}
@media (min-width: 768px) {
  header nav .barra-superior-nav .nav-margin {
    padding-right: 4% !important;
  }
}
header nav .barra-superior-nav .nav-margin ul li a {
  color: #FFFFFF !important;
  text-transform: uppercase;
  font-style: 1rem;
}

.section-title {
  margin-bottom: 2.5em;
  text-align: center;
}
@media (min-width: 768px) {
  .section-title {
    text-align: left;
    margin-bottom: 3em;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.home-general-grid {
  display: grid;
  grid-template-areas: "welcome-title" "slider" "main";
  justify-items: center;
  gap: 30px;
}

.welcome-title {
  grid-area: welcome-title;
  text-align: center;
  line-height: 1rem;
  margin: 0 40px;
  padding: 0.7rem;
}
.welcome-title h1 {
  font-size: var(--fs-h1);
  font-weight: bold;
  margin-bottom: 0px;
}
.welcome-title .sub-title {
  background-color: #ff6600;
  width: 100%;
  padding-top: 2px;
}
.welcome-title .sub-title h2 {
  color: white;
  font-size: var(--fs-h3);
  font-weight: normal;
}

.img-slider-container {
  grid-gap: slider;
  position: relative;
  box-shadow: 8px 7px 2px rgba(0, 0, 0, 0.3);
  border: 6px solid rgb(38, 38, 38);
  border-radius: 6%;
  overflow: hidden;
  max-width: 700px;
}

.camera-cellphone {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgb(19, 19, 19);
  border: 2px solid #000000;
  position: absolute;
  top: 45%;
  left: 15px;
}
@media (min-width: 768px) {
  .camera-cellphone {
    width: 16px;
    height: 16px;
  }
}
@media (min-width: 1200px) {
  .camera-cellphone {
    width: 20px;
    height: 20px;
  }
}

main {
  grid-area: main;
}

.next-events-grid {
  display: grid;
  grid-template-areas: "main-events-title" "card-container-1" "card-container-2" "card-container-3" "card-container-4";
  gap: 40px;
  grid-template-columns: 100%; /* Para que el título del grid ocupe todo el ancho */
}
@media (min-width: 768px) {
  .next-events-grid {
    gap: 25px;
    margin-top: 10px;
  }
}
.next-events-grid h2 {
  grid-area: main-events-title;
  width: 100%;
  font-size: var(--fs-h2);
  background-color: #ff6600;
  color: #FFFFFF;
  text-align: center;
  border-bottom: 5px solid #2e80d3;
}
@media (min-width: 768px) {
  .next-events-grid h2 {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .card-container-1 {
    grid-area: card-container-1;
    flex-direction: row;
  }
  .card-container-1 .card-info .card-description {
    width: calc(350px - 20%);
    margin-top: 5rem;
  }
  .card-container-2 {
    grid-area: card-container-2;
    flex-direction: row-reverse;
  }
  .card-container-2 .card-info .card-description {
    width: calc(350px - 20%);
    margin-top: 5rem;
  }
  .card-container-3 {
    grid-area: card-container-3;
    flex-direction: row;
  }
  .card-container-3 .card-info .card-description {
    width: calc(350px - 20%);
    margin-top: 5rem;
  }
  .card-container-4 {
    grid-area: card-container-4;
    flex-direction: row-reverse;
  }
  .card-container-4 .card-info .card-description {
    width: calc(350px - 20%);
    margin-top: 5rem;
  }
}
@media (min-width: 1200px) {
  .card-container-1 .card-img {
    width: 400px;
  }
  .card-container-1 .card-info {
    width: 400px;
  }
  .card-container-1 .card-info .card-description {
    width: calc(400px - 20%);
    margin-top: 7rem;
  }
  .card-container-2 .card-img {
    width: 400px;
  }
  .card-container-2 .card-info {
    width: 400px;
  }
  .card-container-2 .card-info .card-description {
    width: calc(400px - 20%);
    margin-top: 7rem;
  }
  .card-container-3 .card-img {
    width: 400px;
  }
  .card-container-3 .card-info {
    width: 400px;
  }
  .card-container-3 .card-info .card-description {
    width: calc(400px - 20%);
    margin-top: 7rem;
  }
  .card-container-4 .card-img {
    width: 400px;
  }
  .card-container-4 .card-info {
    width: 400px;
  }
  .card-container-4 .card-info .card-description {
    width: calc(400px - 20%);
    margin-top: 7rem;
  }
}
.cult-general-grid {
  display: grid;
  grid-template-areas: "main-title" "card-1" "card-2" "card-3" "gallery";
  gap: 40px;
}
@media (min-width: 768px) {
  .cult-general-grid {
    grid-template-areas: "main-title main-title" "card-1     card-2" "card-3     card-3" "gallery    gallery";
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .cult-general-grid {
    grid-template-areas: "main-title main-title main-title" "card-1     card-2     card-3" "gallery   gallery     gallery";
  }
}

.cult-main-events-title {
  grid-area: main-title;
}
.cult-main-events-title h2 {
  width: 100%;
  font-size: var(--fs-h2);
  background-color: #ff6600;
  color: #FFFFFF;
  text-align: center;
  border-bottom: 5px solid #2e80d3;
}

.cult-card-container-1 {
  grid-area: card-1;
  align-items: center;
}

.cult-card-container-2 {
  grid-area: card-2;
  align-items: center;
}

.cult-card-container-3 {
  grid-area: card-3;
  align-items: center;
}

.cult-gallery-grid {
  grid-area: gallery;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.cult-gallery-grid .cult-gallery-title {
  width: 100%;
  margin: 10px 0 20px;
}
.cult-gallery-grid .cult-gallery-title h2 {
  font-size: var(--fs-h2);
  background-color: #ff6600;
  color: #FFFFFF;
  text-align: center;
  border-bottom: 5px solid #2e80d3;
}
@media (min-width: 768px) {
  .cult-gallery-grid {
    grid-template-columns: repeat(2, 300px);
    gap: 3px 10px;
    justify-content: center;
    margin-top: 50px;
    /* Para que el título de la galería ocupe toda una fila */
  }
  .cult-gallery-grid .cult-gallery-title {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .cult-gallery-grid {
    grid-template-columns: repeat(3, 300px);
  }
}

.juv-escalera-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 280px;
  margin: 0 auto 40px;
}
.juv-escalera-container a {
  text-decoration: none;
  /* Dimensiones y estilo a cada escalón */
}
.juv-escalera-container a .juv-escalon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  height: 8vh;
  color: #FFFFFF;
  transition: all 0.2s linear;
}
.juv-escalera-container a .juv-escalon:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.juv-escalera-container a .juv-escalon-1 {
  background-color: #2e80d3;
  width: 280px;
}
.juv-escalera-container a .juv-escalon-2 {
  background-color: #4296eb;
  width: 210px;
}
.juv-escalera-container a .juv-escalon-3 {
  background-color: #ff6600;
  width: 140px;
}
.juv-escalera-container a .juv-escalon-4 {
  background-color: #fc9856;
  width: 70px;
}
@media (min-width: 768px) {
  .juv-escalera-container .juv-escalera-container {
    width: 360px;
  }
  .juv-escalera-container .juv-escalon {
    height: 10vh;
  }
  .juv-escalera-container .juv-escalon-1 {
    width: 360px;
  }
  .juv-escalera-container .juv-escalon-2 {
    width: 270px;
  }
  .juv-escalera-container .juv-escalon-3 {
    width: 180px;
  }
  .juv-escalera-container .juv-escalon-4 {
    width: 90px;
  }
}

/* __________________ General Grid __________________ */
.juv-general-grid {
  display: grid;
  gap: 40px;
}
.juv-general-grid .juv-group-grid {
  display: grid;
  gap: 20px;
}
.juv-general-grid .juv-group-grid .juv-group-title h2 {
  font-size: var(--fs-h2);
  background-color: #ff6600;
  color: #FFFFFF;
  text-align: center;
  border-bottom: 5px solid #2e80d3;
}
.juv-general-grid .juv-group-grid .juv-group-info-container {
  text-align: center;
}
.juv-general-grid .juv-group-grid .juv-group-info-container .juv-group-info {
  padding: 0.5rem;
  line-height: 1.4rem;
}
@media (min-width: 768px) {
  .juv-general-grid .juv-group-grid .juv-group-info-container .juv-group-info p {
    max-width: 620px;
    margin: 0 auto;
  }
}
.juv-general-grid .juv-group-grid .juv-group-gallery-grid {
  display: grid;
  justify-content: center;
  gap: 15px;
}
.juv-general-grid .juv-group-grid .juv-group-gallery-grid iframe {
  width: 300px;
  height: 300px;
}
@media (min-width: 768px) {
  .juv-general-grid .juv-group-grid .juv-group-gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
  }
  .juv-general-grid .juv-group-grid .juv-group-gallery-grid iframe {
    width: 615px;
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .juv-general-grid {
    gap: 80px;
  }
  .juv-general-grid .juv-group-grid {
    grid-template-areas: "group-title  group-title" "group-info   group-gallery";
    grid-template-columns: 1fr auto;
    max-width: 1300px;
    justify-content: center;
    margin: 0 auto;
  }
  .juv-general-grid .juv-group-grid .juv-group-title {
    grid-area: group-title;
  }
  .juv-general-grid .juv-group-grid .juv-group-info-container {
    grid-area: group-info;
    align-self: center;
    justify-self: center;
    text-align: left;
  }
  .juv-general-grid .juv-group-grid .juv-group-info-container .juv-group-info {
    margin-left: 15px;
  }
  .juv-general-grid .juv-group-grid .juv-group-gallery-grid {
    grid-area: group-gallery;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    margin-right: 30px;
  }
}
.form-container {
  background-color: #EEEEEE;
  width: 80%;
  margin: 0 auto;
  max-width: 650px;
  padding: 10px 0;
  border-radius: 25px;
}
.form-container .form-info {
  margin: 5px 10%;
}
.form-container .form-info .form-info-stretch {
  width: 100%;
  padding: 0.2em;
}
.form-container .form-info textarea {
  height: 120px;
  resize: none;
}
.form-container .form-info-heigh-stretch {
  margin: 20px 10%;
}
.form-container .form-info-heigh-stretch label {
  margin-right: 15px;
}
.form-container .form-info-heigh-stretch input {
  margin-right: 5px;
}
.form-container .form-buttons {
  margin: 5px 10%;
  text-align: center;
}
.form-container .form-buttons input {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.1em 0.5em;
  color: #FFFFFF;
  background-color: #ff6600;
  border: none;
  border-radius: 5px;
}
.form-container .form-buttons .none-display {
  display: none;
}

@media (min-width: 768px) {
  .form-container {
    padding: 15px 0;
    border-radius: 15px;
  }
  .form-container .form-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: flex-end;
    margin: 15px 10%;
  }
  .form-container .form-info .form-info-stretch {
    width: 300px;
  }
  .form-container .form-buttons {
    margin: 15px 10%;
    margin-top: 30px;
  }
  .form-container .form-buttons input {
    margin: 0 10px;
  }
  .form-container .form-buttons .none-display {
    display: inline-block;
  }
}
footer {
  margin-top: auto;
}
footer .footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2e80d3;
  color: #FFFFFF;
  text-align: center;
  border-top: 4px solid #ff6600;
  height: 150px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  footer .footer-container {
    justify-content: space-evenly;
  }
}
footer .footer-container .footer-info {
  display: inline-block;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
