/* __________________ Fonts __________________ */

/* ROBOTO y POPPINS */
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Roboto:wght@300;700&display=swap');


/* __________________ Var Colors __________________ */

/* https://colorhunt.co/palette/f1541200000034b3f1eeeeee */
/* Utilice el naranja y celeste original del club y tomé una paleta con colores MUY similares para obtener un 3er color que en este caso es el gris */
:root{
    --primary-color: #2e80d3;
    --secondary-color: #ff6600;
    --grey-color: #EEEEEE;
    --text-color-primary: #2e80d3;
    --text-color-secondary: #FFFFFF;
}


/* __________________ General Styles __________________ */

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elegimos la fuente a utilizar la cual decidimos acorde para toda la web */
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    cursor: pointer
}

/* __________________ Header/Nav __________________ */

header {
    background-color: var(--grey-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

header a.logo {
    margin-top: 10px;
}

/* TODO: Hacer el NAV con menú hamburguesa */
header nav {
    background-color: var(--primary-color);
    border-top: 6px solid var(--secondary-color);
}

/* Bullets Off */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    padding: 5px 15px;
}

/* Underlined Off */
nav ul li a {
    text-decoration: none;
    color: var(--text-color-secondary);
    text-transform: uppercase;
    font-size: 1rem;
}

/* __________________ Footer __________________ */

footer {
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    border-top: 4px solid #ff6600;
    height: 150px;
    margin-top: 40px;
}

.footer-info {
    display: inline-block;
    color: white;
    font-size: 1rem;
}

/* __________________ Section Title __________________ */

.section-title {
    margin-bottom: 2.5em;
    text-align: center;
}

/* __________________ Estilos para sección Inicio __________________ */


/* __________________ General Grid __________________ */

.home-general-grid {
    display: grid;
    grid-template-areas:
    "welcome-title"
    "slider"
    "main";
    justify-items: center;
    gap: 30px;
}

/* __________________ Welcome Title __________________ */

.welcome-title {
    text-align: center;
    margin: 0 40px;
    padding: 0.7rem;
    line-height: 1rem;
    grid-area: welcome-title;
}

.welcome-title h1 {
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.welcome-title .sub-title {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 1px;
}

.welcome-title h2 {
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
}

main {
    grid-area: main;
}

/* __________________ Galería Slider con formato de un celular __________________ */

.img-slider-container {
    position: relative;
    box-shadow: 8px 7px 2px rgba(0,0, 0, .3);
    border: 6px solid rgb(38, 38, 38);
    border-radius: 6%;
    overflow: hidden;
    grid-gap: slider;
    max-width: 700px;
}

/* Simularción de cámara frontal de celular para darle estética al slider */
.camera-cellphone {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(19, 19, 19);
    border: 2px solid black;
    position: absolute;
    top: 45%;
    left: 15px;
}

/* __________________ Next Events Grid __________________ */

.next-events-grid {
    display: grid;
    grid-template-areas:
    "main-events-title"
    "card-container-1"
    "card-container-2"
    "card-container-3"
    "card-container-4";
    gap: 40px;
    grid-template-columns: 100%; /* Para que el título del grid ocupe todo el ancho */
}

.next-events-grid h2 {
    grid-area: main-events-title;
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    font-weight: normal;
    border-bottom: 5px solid var(--primary-color);
    width: 100%;
}

.card-container-1 {
    grid-area: card-container-1;
}

.card-container-2 {
    grid-area: card-container-2;
}

.card-container-3 {
    grid-area: card-container-3;
}

.card-container-4 {
    grid-area: card-container-4;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info {
    width: 350px;
}

.card-info h3 {
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
    padding: .3em;
    margin-bottom: 1em;
}

.card-info h4 {
    font-size: 1rem;
}

.card-info p {
    font-size: 1rem;
    line-height: 1.2rem;
}


/* __________________ Estilos para sección Contacto __________________ */

.form-container {
    background-color: var(--grey-color);
    width: 80%;
    margin: 0 auto;
    max-width: 650px;
    padding: 10px 0;
    border-radius: 25px;
}

.form-info-stretch {
    width: 100%;
    padding: .2em;
}

/* TODO: Averiguar por que se genera como un margin-bottom en el <select> que no se ve en el inspector */

.form-info, .form-buttons {
    /* Contenido Responsive al 80% */
    margin: 5px 10%;
}

.form-info-heigh-stretch {
    margin: 20px 10%;
}

.form-info-heigh-stretch label {
    margin-right: 15px;
}

.form-info-heigh-stretch input {
    margin-right: 5px;
}

.form-info textarea {
    height: 120px;
    resize: none;
}

.form-buttons {
    text-align: center;
}

.form-buttons input {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: .1em .5em;
    color: white;
    background-color:#ff6600;
    border: none;
    border-radius: 5px;
}

.form-buttons .none-display {
    display: none;
}


/* __________________ Estilos para sección Cultura __________________ */


/* __________________ General Grid __________________ */

.cult-general-grid {
    display: grid;
    grid-template-areas:
    "main-title"
    "card-1"
    "card-2"
    "card-3"
    "gallery";
    gap: 40px;
}

.cult-main-events-title {
    grid-area: main-title;
}

.cult-card-container-1 {
    grid-area: card-1;
}

.cult-card-container-2 {
    grid-area: card-2;
}

.cult-card-container-3 {
    grid-area: card-3;
}

.cult-main-events-title h2 {
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 5px solid var(--primary-color);
    width: 100%;
}

.cult-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cult-card-info {
    width: 350px;
}

.cult-card-info h3 {
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
    padding: .3em;
    margin-bottom: 1em;
}

.cult-card-info h4 {
    font-size: 1rem;
}

.cult-card-info p {
    font-size: 1rem;
    line-height: 1.2rem;
}

.cult-gallery-grid {
    grid-area: gallery;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.cult-gallery-title {
    width: 100%;
    margin: 10px 0 20px;
}

.cult-gallery-title h3 {
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 5px solid var(--primary-color);
}


/* __________________ Estilos para sección Juventud y Deportes __________________ */
/******* Ambas secciones utilizan las mismas clases por lo que se unifican *******/

/* Dimensiones y posición de la escalera */
.juv-escalera-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 280px;
    margin: 0 auto 40px;
}

/* Quitamos subrayado de los anclajes */
.juv-escalera-container a {
    text-decoration: none;
}

/* Dimensiones y estilo a cada escalón */
.juv-escalon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    height: 8vh;
    color: white;
    transition: all .2s linear;
}

/** Efecto Profundidad al pasar cursor**/
.juv-escalon:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgba(0,0, 0, .3);
}

.juv-escalon-1 {
    background-color: #2e80d3;
    width: 280px;
}

.juv-escalon-2 {
    background-color: #4296eb;
    width: 210px;
}

.juv-escalon-3 {
    background-color: #ff6600;
    width: 140px;
}

.juv-escalon-4 {
    background-color: #fc9856;
    width: 70px;
}

/* __________________ General Grid __________________ */
.juv-general-grid {
    display: grid;
    gap: 40px;
}

.juv-group-grid {
    display: grid;
    gap: 20px;
}

.juv-group-title h2 {
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 5px solid var(--primary-color);
}

.juv-group-info-container {
    text-align: center;
}

.juv-group-info {
    padding: .5rem;
    line-height: 1.4rem;
}

.juv-group-gallery-grid {
    display: grid;
    justify-content: center;
    gap: 15px;
}

.juv-group-gallery-grid iframe {
    width: 300px;
    height: 300px;
}

@media(min-width:768px){

    header {
        text-align: left;
    }

    .logo {
        margin: 0 10%;
    }

    nav ul {
        justify-content: right;
        margin: 0 5%;
    }

    .footer-container {
        justify-content: space-evenly;
    }

    .camera-cellphone {
        width: 16px;
        height: 16px;
    }

    .next-events-grid {
        gap: 25px;
        margin-top: 10px;
    }

    .next-events-grid h2 {
        margin-bottom: 10px;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card-container-2, .card-container-4 {
        flex-direction: row-reverse;
    }

    .card-info {
        height: 350px;
    }

    .card-info h3 {
        text-align: right;
        margin-bottom: 5em;
    }

    .card-info h4 {
        padding: 0 30px;
    }

    .card-info p {
        padding: 0 30px;
    }

    /* Cambio de orientación zig zag de eventos */
    .next-events-grid .card-container:nth-of-type(2n) .card-info h3 {
        text-align: left;
    }

    .form-container {
        padding: 15px 0;
        border-radius: 15px;
    }

    .form-info-stretch {
        width: 300px;
    }

    .form-info {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: flex-end;
    }

    .form-info, .form-buttons {
        margin: 15px 10%;
    }

    .form-buttons {
        margin-top: 30px;
    }

    .form-buttons input {
        margin: 0 10px;
    }

    .form-buttons .none-display {
        display: inline-block;
    }

    .section-title {
        margin-bottom: 3em;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
    }

    .cult-general-grid {
        grid-template-areas:
        "main-title main-title"
        "card-1     card-2"
        "card-3     card-3"
        "gallery    gallery";
        justify-content: center;
    }

    .cult-gallery-grid {
        grid-template-columns: repeat(2, 300px);
        gap: 3px 10px;
        justify-content: center;
        margin-top: 50px;
    }

    /* Para que el título de la galería ocupe toda una fila */
    .cult-gallery-title {
        grid-column: 1/-1;
    }

    .juv-escalera-container {
        width: 360px;
    }

    .juv-escalon{
        font-size: .9rem;
        height: 10vh;
        color: white;
    }

    .juv-escalon-1 {
        background-color: #2e80d3;
        width: 360px;
    }

    .juv-escalon-2 {
        background-color: #4296eb;
        width: 270px;
    }

    .juv-escalon-3 {
        background-color: #ff6600;
        width: 180px;
    }

    .juv-escalon-4 {
        background-color: #fc9856;
        width: 90px;
    }

    .juv-group-gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }

    .juv-group-gallery-grid iframe {
        width: 615px;
        height: 300px;
    }

    .juv-group-info p {
        max-width: 620px;
        margin: 0 auto;
    }

}

@media (min-width:1200px){

    /* Estilo para link hover */
    nav ul li:hover {
        background-color: var(--secondary-color);
    }


    .camera-cellphone {
        width: 20px;
        height: 20px;
    }

    .card-info {
        width: 400px;
        height: 400px;
    }

    .card-info h3 {
        margin-bottom: 6em;
    }

    .cult-general-grid {
        grid-template-areas:
        "main-title main-title main-title"
        "card-1     card-2     card-3"
        "gallery   gallery     gallery";
    }

    .cult-gallery-grid {
        grid-template-columns: repeat(3, 300px);
    }

    .juv-general-grid {
        gap: 80px;
    }

    .juv-group-grid {
        display: grid;
        grid-template-areas:
        "group-title  group-title"
        "group-info   group-gallery";
        grid-template-columns: 1fr auto;
        gap: 20px;
        max-width: 1300px;
        justify-content: center;
        margin: 0 auto;
    }

    .juv-group-title {
        grid-area: group-title;
    }

    .juv-group-info-container {
        grid-area: group-info;
        align-self: center;
        justify-self: center;
        text-align: left;
    }

    .juv-group-gallery-grid {
        grid-area: group-gallery;
    }

    .juv-group-info {
        margin-left: 15px;
    }

    .juv-group-gallery-grid {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        justify-content: center;
        margin-right: 30px;
    }

    /* ______________________________________________________________________________ */
    /** Welcome Title Animation (Animista) **/

    /* h1 */
    .tracking-in-contract {
        -webkit-animation: tracking-in-contract 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-contract 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    @-webkit-keyframes tracking-in-contract {
        0% {
        letter-spacing: 1em;
        opacity: 0;
        }
        40% {
        opacity: 0.6;
        }
        100% {
        letter-spacing: normal;
        opacity: 1;
        }
    }
    @keyframes tracking-in-contract {
        0% {
        letter-spacing: 1em;
        opacity: 0;
        }
        40% {
        opacity: 0.6;
        }
        100% {
        letter-spacing: normal;
        opacity: 1;
        }
    }

    /* h2 */
    .text-focus-in {
        -webkit-animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) .3s both;
        animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) .3s both;
    }

    @-webkit-keyframes text-focus-in {
        0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
        }
        100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
        }
    }
    @keyframes text-focus-in {
        0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
        }
        100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
        }
    }
    /* ______________________________________________________________________________ */

}





