@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Roboto:wght@300;700&display=swap");
:root {
  --color-primary: #2e80d3;
  --color-secondary: #ff6600;
  --color-grey: #EEEEEE;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --tt-heading: uppercase;
  --fs-h1: 1.8rem;
  --fs-h2: 1.3rem;
  --fs-h3: 1.1rem;
  --fs-h4: 1.1rem;
  --fs-p: 1rem;
  --lh-p: 1.2rem;
  --direction: column;
  --w-card: 350px;
  --margin-top: 1.3rem;
  --set-w-card-description: 5%;
}
@media (min-width: 768px) {
  :root {
    --fs-h1: 1.8rem;
    --fs-h2: 1.3rem;
    --fs-h3: 1.1rem;
    --fs-h4: 1.1rem;
    --fs-p: 1rem;
    --lh-p: 1.3rem;
    --direction: row;
    --w-card: 350px;
    --margin-top: 5rem;
    --set-w-card-description: 20%;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-h1: 1.8rem;
    --fs-h2: 1.3rem;
    --fs-h3: 1.1rem;
    --fs-h4: 1.1rem;
    --fs-p: 1rem;
    --w-card: 400px;
    --lh-p: 1.5rem;
    --direction: row;
    --w-card: 400px;
    --margin-top: 8rem;
    --set-w-card-description: 20%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  cursor: pointer;
}

h1, h2, h3, h4 {
  text-transform: var(--tt-heading);
}

p {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}

.card-container {
  display: flex;
  width: 100%;
  flex-direction: var(--direction);
}
.card-container .card-img {
  width: var(--w-card);
}
.card-container .card-info {
  width: var(--w-card);
}
.card-container .card-info h3 {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: var(--fs-h3);
  text-align: center;
}
.card-container .card-info .card-description {
  width: calc(var(--w-card) - var(--set-w-card-description));
  margin: 0 auto;
  margin-top: var(--margin-top);
}
.card-container .card-info .card-description h4 {
  font-size: var(--fs-h4);
  font-weight: bold;
}
.card-container .card-info .card-description p {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}

header {
  margin-bottom: 40px;
}
header nav {
  background-color: #EEEEEE;
}
header nav .logo {
  margin-left: 10%;
}
header nav .nav-button {
  margin-right: 10%;
}
header nav .nav-button span {
  font-style: 1rem;
}
header nav .barra-superior-nav {
  background-color: #2e80d3;
  color: #FFFFFF;
  border-top: 6px solid #ff6600;
}
@media (min-width: 768px) {
  header nav .barra-superior-nav .nav-margin {
    padding-right: 4% !important;
  }
}
header nav .barra-superior-nav .nav-margin ul li a {
  color: #FFFFFF !important;
  text-transform: uppercase;
  font-style: 1rem;
}

.section-title {
  margin-bottom: 2.5em;
  text-align: center;
}
@media (min-width: 768px) {
  .section-title {
    text-align: left;
  }
}

.home-general-grid {
  display: grid;
  grid-template-areas: "welcome-title" "slider" "main";
  justify-items: center;
  gap: 30px;
}

.welcome-title {
  grid-area: welcome-title;
  text-align: center;
  line-height: 1rem;
  margin: 0 40px;
  padding: 0.7rem;
}
.welcome-title h1 {
  font-size: var(--fs-h1);
  font-weight: bold;
  margin-bottom: 0px;
}
.welcome-title .sub-title {
  background-color: #ff6600;
  width: 100%;
  padding-top: 2px;
}
.welcome-title .sub-title h2 {
  color: white;
  font-size: var(--fs-h3);
  font-weight: normal;
}

.img-slider-container {
  grid-gap: slider;
  position: relative;
  box-shadow: 8px 7px 2px rgba(0, 0, 0, 0.3);
  border: 6px solid rgb(38, 38, 38);
  border-radius: 6%;
  overflow: hidden;
  max-width: 700px;
}

.camera-cellphone {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgb(19, 19, 19);
  border: 2px solid #000000;
  position: absolute;
  top: 45%;
  left: 15px;
}
@media (min-width: 768px) {
  .camera-cellphone {
    width: 16px;
    height: 16px;
  }
}
@media (min-width: 1200px) {
  .camera-cellphone {
    width: 20px;
    height: 20px;
  }
}

main {
  grid-area: main;
}

.next-events-grid {
  display: grid;
  grid-template-areas: "main-events-title" "card-container-1" "card-container-2" "card-container-3" "card-container-4";
  gap: 40px;
  grid-template-columns: 100%; /* Para que el título del grid ocupe todo el ancho */
}
@media (min-width: 768px) {
  .next-events-grid {
    gap: 25px;
    margin-top: 10px;
  }
}
.next-events-grid h2 {
  grid-area: main-events-title;
  width: 100%;
  font-size: var(--fs-h2);
  text-align: center;
  background-color: #ff6600;
  color: #FFFFFF;
  border-bottom: 5px solid #2e80d3;
}
@media (min-width: 768px) {
  .next-events-grid h2 {
    margin-bottom: 10px;
  }
}

.card-container-1 {
  grid-area: card-container-1;
}

.card-container-2 {
  grid-area: card-container-2;
}

.card-container-3 {
  grid-area: card-container-3;
}

.card-container-4 {
  grid-area: card-container-4;
}

@media (min-width: 768px) {
  .card-container-2 {
    flex-direction: row-reverse;
  }
  .card-container-4 {
    flex-direction: row-reverse;
  }
}
.card-info h3 {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: var(--fs-h3);
  text-align: center;
  text-align: center;
  padding: 0.3em;
}
.card-info h4 {
  font-size: var(--fs-h4);
  font-weight: bold;
}
.card-info p {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
}
@media (min-width: 768px) {
  .card-info h3 {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .card-info p {
    font-size: var(--fs-p);
    line-height: var(--lh-p);
  }
}

footer {
  margin-top: auto;
}
footer .footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2e80d3;
  color: #FFFFFF;
  border-top: 4px solid #ff6600;
  height: 150px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  footer .footer-container {
    justify-content: space-evenly;
  }
}
footer .footer-container .footer-info {
  display: inline-block;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
