/* CULTURA STYLES */

// GENERAL GRID
.cult-general-grid {
    display: grid;
    grid-template-areas:
    "main-title"
    "card-1"
    "card-2"
    "card-3"
    "gallery";
    gap: 35px;
    @include media-md {
        grid-template-areas:
        "main-title main-title"
        "card-1     card-2"
        "card-3     card-3"
        "gallery    gallery";
        justify-content: center;
    }
    @include media-xl {
        grid-template-areas:
        "main-title main-title main-title"
        "card-1     card-2     card-3"
        "gallery   gallery     gallery";
    }
    .card-container {
        .card-img {
            width: $w-card;
            img {
                width: 100%;
            }
        }
        .card-info {
            width: $w-card;
            .card-description {
                h4 {
                        font-size: 1.1rem;
                        margin-bottom: 1rem;
                    }
                p {
                    font-size: 1rem;
                    line-height: 0.9rem;
                }
            }
        }
        @media(min-width:350px) {
            .card-img {
                width: 350px;
            }
            .card-info {
                width: 350px;
            }
        }
    }
}

.cult-main-events-title {
    grid-area: main-title;
    h2 {
        width: 100%;
        font-size: $set-fs-h2;
        @include separador-doble($color-secondary, bottom, 5px, $color-primary);
    }
}

@for $i from 1 through 3 {
    .cult-card-container-#{$i} {
        grid-area: card-#{$i};
        align-items: center;
    }
}

.cult-gallery-grid {
    grid-area: gallery;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
    .cult-gallery-title {
        width: 100%;
        margin: 10px 0 20px;
        h2 {
            font-size: $set-fs-h2;
            @include separador-doble($color-secondary, bottom, 5px, $color-primary);
        }
    }
    .cult-gallery-image {
        img {
            width: 300px;
        }
    }

    @include media-md {
        grid-template-columns: repeat(2, 300px);
        gap: 10px 10px;
        justify-content: center;
        margin-top: 10px;
        .cult-gallery-title {
            grid-column: 1/-1;
        }
    }
    @include media-xl {
        grid-template-columns: repeat(3, 300px);
        .cult-gallery-image {
            position: relative;
            img {
                position: relative;
                width: 300px;
                transition: 0.5s ease-out;
                z-index: 0;
            }
            &:nth-of-type(3n - 1) img:hover {
                @include gallery-effect;
            }
            &:nth-of-type(3n) img:hover {
                @include gallery-effect;
            }
            &:nth-of-type(3n + 1) img:hover {
                @include gallery-effect;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #000;
                color: $color-white;
                font-size: 1.5em;
                font-weight: bold;
                opacity: 0.5;
                // transition: 0.3s;
            }
            &:hover::after {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

