/* JUVENTUD STYLES */

.juv-escalera-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 280px;
    margin: 0 auto 40px;
    a {
        text-decoration: none;
        /* Dimensiones y estilo a cada escalón */
        .juv-escalon{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .9rem;
            height: 8vh;
            color: $color-white;
            transition: all .2s linear;
            &:hover {
                transform: scale(1.1);
                box-shadow: 2px 2px 10px rgba(0,0, 0, .3);
            }
        }
        .juv-escalon-1 {
            background-color: $color-primary;
            width: 280px;
        }

        .juv-escalon-2 {
            background-color: #4296eb;
            width: 210px;
        }

        .juv-escalon-3 {
            background-color: $color-secondary;
            width: 140px;
        }

        .juv-escalon-4 {
            background-color: #fc9856;
            width: 70px;
        }
    }
    @include media-md {
        .juv-escalera-container {
            width: 360px;
        }

        .juv-escalon{
            height: 10vh;
        }

        .juv-escalon-1 {
            width: 360px;
        }

        .juv-escalon-2 {
            width: 270px;
        }

        .juv-escalon-3 {
            width: 180px;
        }

        .juv-escalon-4 {
            width: 90px;
        }
    }
}

/* __________________ General Grid __________________ */
.juv-general-grid {
    display: grid;
    gap: 40px;
    .juv-group-grid {
        display: grid;
        gap: 20px;
        .juv-group-title {
            h2 {
                font-size: $set-fs-h2;
                @include separador-doble($color-secondary, bottom, 5px, $color-primary);
            }
        }
        .juv-group-info-container {
            width: 75%;
            margin: 0 auto;
            max-width: 550px;
            .juv-group-cuadro {
                position: relative;
                width: 100%;
                background-color: $color-primary;
                color: $color-white;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
                margin: 0.5em auto 1.5em;
                padding: 1em 0;
                border-radius: 7px;
                &::before {
                    content: '';
                    @include cinta;
                    transform: rotate(-45deg);
                    left: -15px;
                    top: 0;
                }
                &::after {
                    content: '';
                    @include cinta;
                    transform: rotate(135deg);
                    right: -15px;
                    bottom: 0;
                }
                h3 {
                    font-size: $fs-sm-h3;
                    text-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
                }
                p {
                    font-size: $fs-sm-p;
                    margin-bottom: 0;
                    text-align: center;
                }
            }
            .juv-group-info {
                width: 100%;
                margin: 0 auto;
                line-height: $lh-sm-p;
                text-align: center;
                border-bottom: 1px solid #000;
                h3 {
                    font-size: $fs-sm-h3;
                    text-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
                    margin-top: 0.5em;
                    // border-bottom: 1px solid #000;
                }
                p {
                    font-size: $fs-sm-p;
                    margin-bottom: 0.5em;
                }
                @include media-md {
                    p {
                        max-width: 620px;
                        margin: 0 auto;
                    }
                }
            }
        }
        .juv-group-gallery-grid {
            display: grid;
            justify-content: center;
            gap: 15px;
            iframe {
                width: 300px;
                height: 300px;
            }
        }
        @include media-md {
            .juv-group-gallery-grid {
                display: grid;
                grid-template-columns: repeat(2, 300px);
                iframe {
                    width: 615px;
                    height: 300px;
                }
            }
        }
    }
}

@include media-xl {
    .juv-general-grid {
        gap: 80px;
        .juv-group-grid {
            grid-template-areas:
            "group-title  group-title"
            "group-info   group-gallery";
            grid-template-columns: 1fr auto;
            max-width: 1300px;
            justify-content: center;
            margin: 0 auto;
            .juv-group-title {
                grid-area: group-title;
            }
            .juv-group-info-container {
                grid-area: group-info;
                width: 80%;
                margin: auto;
            }
            .juv-group-gallery-grid {
                grid-area: group-gallery;
                display: grid;
                grid-template-columns: repeat(3, 300px);
                justify-content: center;
                margin-right: 30px;
            }
        }
    }
}