.card-container {
    // Seteamos Template Card con valores Default para mobile
    display: flex;
    width: 100%;
    @include card-container($direction-sm);
    .card-img {
        @include card-img($w-sm-card);
    }
    .card-info {
        @include card-info($w-sm-card);
        h3 {
            @include card-title($fs-h3);
        }
        h4 {
            font-weight: bold;
            @include card-sub-title($fs-h4);
        }
        p {
            @include card-p($fs-p, $lh-sm-p);
        }
    }
    @include media-md {
        @include card-container($direction-md);
        .card-img {
            @include card-img($w-md-card);
        }
        .card-info {
            @include card-info($w-md-card);
            h3 {
                font-size: $fs-h3;
            }
            h4 {
                @include card-sub-title($fs-h4);
            }
            p {
                @include card-p($fs-p, $lh-sm-p);
            }
        }
    }
}

// @for $i from 1 through 4 {
//     .card-container-#{$i} {
//         grid-area: card-container-#{$i};
//         @extend .card-container;
//     }
// }

// @include media-md {
//     .card-container {
//         flex-direction: row;
//         justify-content: center;
//     }
//     @for $i from 1 through 4 {
//         @if ($i % 2) == 0 {
//             .card-container-#{$i} {
//                 flex-direction: row-reverse;
//             }
//         }
//     }
// }

// .card-img {
//     width: $w-card-sm;
//     @include media-md {
//         height: $w-card-sm;
//     }
//     @include media-xl {
//         width: $w-card-xl;
//         height: $w-card-xl;
//     }
// }

// .card-info  {
//     @extend .card-img;
//     h3 {
//         @include card-title;
//         text-align: center;
//         padding: .3em;
//         margin-bottom: 1em;
//     }
//     h4 {
//         font-size: $fs-h4;
//         font-weight: bold;
//     }
//     p {
//         @include p-styles;
//     }
//     @include media-md {
//         h3 {
//             text-align: right;
//             margin-bottom: 5em;
//         }
//         h4 {
//             padding: 0 30px;
//         }
//         p {
//             padding: 0 30px;
//             @include p-md-styles;
//         }
//     }
//     @include media-xl {
//         h3 {
//             margin-bottom: 7em;
//         }
//         p {
//             @include p-xl-styles;
//         }
//     }
// }
