// SEPARADORES
@mixin separador-doble($color-bg, $side, $size, $color-border) {
    background-color: $color-bg;
    color: $color-white;
    border-#{$side}: $size solid $color-border;
}

// TEXTOS
@mixin heading-styles {
    text-transform: $tt-heading;
}

@mixin p-styles {
    font-size: $fs-p;
    line-height: $lh-sm-p;
}

@mixin p-md-styles {
    font-size: $fs-p;
    line-height: $lh-md-p;
}

@mixin p-xl-styles {
    font-size: $fs-p;
    line-height: $lh-xl-p;
}

// CARD
@mixin card-container($direction) {
    flex-direction: $direction;
}

@mixin card-img($img-width) {
    width: $img-width;
}

@mixin card-info($info-width) {
    width: $info-width;
}

@mixin card-title($font-size) {
    background-color: $color-secondary;
    color: $color-white;
    font-size: $font-size;
    text-align: center;
    padding: .3em;
    margin-bottom: 1em;
}

@mixin card-sub-title($font-size) {
    font-size: $font-size;
    font-weight: bold;
}

@mixin card-p($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;


}