// SEPARADORES
@mixin separador-doble($color-bg, $side, $size, $color-border) {
    background-color: $color-bg;
    color: $color-white;
    text-align: center;
    border-#{$side}: $size solid $color-border;
}

// TEXTOS
@mixin heading-styles {
    text-transform: $tt-heading;
}

@mixin p-styles {
    font-size: $set-fs-p;
    line-height: $set-lh-p;
}

// CARD SETEADA MEDIANTE MAP-GET
@mixin card-container {
    display: map-get($flexbox-base, display-type);
    flex-direction: map-get($flexbox-base, direction-type);
    width: map-get($flexbox-base, width-percent);
}

@mixin card-img {
    width: $w-card;
}

@mixin card-info {
    width: $w-card;
}

@mixin card-title {
    background-color: $color-secondary;
    color: $color-white;
    font-size: $set-fs-h3;
    text-align: center;
}

@mixin card-description {
    width: calc($w-card - $w-card-description);
    margin: 0 auto;
    margin-top: $margin-top;
}

@mixin card-sub-title {
    font-size: $set-fs-h4;
    font-weight: bold;
}

@mixin card-p {
    font-size: $set-fs-p;
    line-height: $set-lh-p;
}

// EFECTO IMG GALERÍA

@mixin gallery-effect {
    transform: scale(1.3);
    z-index: 999;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 1);
}

// FIGURA CINTA SCOTCH GALERÍA

@mixin cinta {
    position: absolute;
    width: 45px;
    height: 15px;
    background-color: rgb(255, 254, 199);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}