
// ! hay medidas repetidas porque la idea es utilizar esto como template, e ir comentando las medidas que no harían falta para cada proyecto en particular, para no duplicar código en el css

// COLORS
$color-primary: #2e80d3;
$color-secondary: #ff6600;
$color-grey: #EEEEEE;
$color-white: #FFFFFF;
$color-black: #000000;

// FONT FAMILYS
$ff-primary: 'Poppins', sans-serif;

// TEXT TRANSFORM HEADINGS
$tt-heading: uppercase;

// FONT SIZES (falta retocar medidas para cada breakpoint)
$fs-sm-h1: 1.8rem;
$fs-md-h1: 1.8rem;
$fs-xl-h1: 1.8rem;
$fs-sm-h2: 1.3rem;
$fs-md-h2: 1.3rem;
$fs-xl-h2: 1.3rem;
$fs-sm-h3: 1.1rem;
$fs-md-h3: 1.1rem;
$fs-xl-h3: 1.1rem;
$fs-sm-h4: 1.1rem;
$fs-md-h4: 1.1rem;
$fs-xl-h4: 1.1rem;
$fs-sm-p: 1rem;
$fs-md-p: 1rem;
$fs-xl-p: 1rem;
$set-fs-h1: var(--fs-h1);
$set-fs-h2: var(--fs-h2);
$set-fs-h3: var(--fs-h3);
$set-fs-h4: var(--fs-h4);
$set-fs-h5: var(--fs-h5 );
$set-fs-p: var(--fs-p);

// LINE HEIGHTS
$lh-sm-p: 1.2rem;
$lh-md-p: 1.3rem;
$lh-xl-p: 1.5rem;
$set-lh-p: var(--lh-p);

// CARD ORIENTATION (por defecto para mobile first, pero reutilizable seteando variable en row)
$direction: column;

// CARD SIZE
$w-card: 350px;

// CARD DESCRIPTION MARGINS
$w-card-description: 5%;
$margin-top: 1.3rem;

// MAP PARA CASO BASE DE FLEX
$flexbox-base: (
    display-type: flex,
    direction-type: $direction,
    width-percent: 100%
);


//////////////////////////////////////////////////////////////////////
// VARIABLES CSS (para jugar con responsive a traves de las variables)
:root {
    --tt-heading: #{$tt-heading};
    --fs-h1: #{$fs-sm-h1};
    --fs-h2: #{$fs-sm-h2};
    --fs-h3: #{$fs-sm-h3};
    --fs-h4: #{$fs-sm-h4};
    --fs-p: #{$fs-sm-p};
    --lh-p: #{$lh-sm-p};
    @media (min-width:768px) {
        --fs-h1: #{$fs-md-h1};
        --fs-h2: #{$fs-md-h2};
        --fs-h3: #{$fs-md-h3};
        --fs-h4: #{$fs-md-h4};
        --fs-p: #{$fs-md-p};
        --lh-p: #{$lh-md-p};
    }
    @media (min-width:1200px) {
        --fs-h1: #{$fs-xl-h1};
        --fs-h2: #{$fs-xl-h2};
        --fs-h3: #{$fs-xl-h3};
        --fs-h4: #{$fs-xl-h4};
        --fs-p: #{$fs-xl-p};
        --lh-p: #{$lh-xl-p};
    }
}