// COLORS
$color-primary: #2e80d3;
$color-secondary: #ff6600;
$color-grey: #EEEEEE;
$color-white: #FFFFFF;
$color-black: #000000;

// FONT FAMILYS
$ff-primary: 'Poppins', sans-serif;

// FONT SIZES
$fs-h1: 1.8rem;
$fs-h2: 1.3rem;
$fs-h3: 1.1rem;
$fs-h4: 1.1rem;
$fs-p: 1rem;

// LINE HEIGHTS
$lh-p: 1.2rem;
$lh-md-p: 1.3rem;
$lh-xl-p: 1.5rem;

// CARD SIZES
$w-card-sm: 350px;
$w-card-xl: 400px;